@if(TempData["success"]!= null){
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.success('@TempData["success"]');
    
    </script>
    @*<br/>
    <div class="card">
        <div class="card-body">
            @TempData["success"]
        </div>
    </div>*@
}
@if (TempData["error"] != null)
{
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.error('@TempData["error"]');
    </script>
    @*<br />
    <div class="card">
        <div class="card-body">
            @TempData["error"]
        </div>
    </div>*@
}

